
/* Home.css */

.app {
    max-width: 1300px;
    margin: 0 auto;
    text-align: center;
  }
  /* Header style */
  .header {
    text-align: center;
    padding: 2rem; 
    background-color: #fafafa; 
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); 
    border-radius: 8px;
    margin-bottom: 2rem; 
  }
  .nav-login {
    border : 2px solid #007bff;
    background-color: #007bff;
    margin-right: 5px;
  }
  .nav-login:hover{
    border : 2px solid #007bff;
    background-color: #007bff;
    filter: brightness(1.1); 
  }
  .nav-logout{
    border : 2px solid #a200ff;
    background-color: #a200ff;
  }
  .nav-logout:hover{
    border : 2px solid #a200ff;
    background-color: #a200ff;
    filter: brightness(1.1); 
  }
  
  
  .header h1 {
    color: #353535;
    font-size: 2.5rem; 
    margin-bottom: 0.5rem; 
    font-weight: 300; 
    letter-spacing: 1px; 
  }
  
  .header p {
    color: #555555; 
    font-size: 1rem; 
    margin-top: 0; 
  }
  
  
  .user-types {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap; 
    margin: 20px 0;
    /* gap: 10px; */
  }
  
  .user-type {
    flex-basis: calc(25% - 20px); 
    margin: 10px;
    padding: 20px;
    text-align: center;
    background-color: #fff; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
    border-radius: 10px; 
  }
  
  .user-type h2 {
    font-size: 1.4em; 
    color: #333; 
    margin-bottom: 15px; 
  }
  
  .user-type-actions button {
    margin: 5px;
    padding: 12px 20px; 
    border: none;
    color: white;
    font-weight: bold; 
    cursor: pointer;
    border-radius: 5px; 
    transition: background-color 0.3s ease; 
  }
  
  .user-type-actions .login {
    background-color: #f14e6b;
  }
  
  .user-type-actions .create-account {
    background-color: #6c3a6c;
  }
  
  .user-type-actions button:hover {
    filter: brightness(1.1); 
  }
  
  /* @media (max-width: 768px) {
    .user-type {
      flex-basis: 100%; 
    }
  } */
  
  
  /* Carousel style... */
  
.carousel-container {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .carousel-slide {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  
  .carousel-slide img {
    width: 100%;
    max-width: 300px;
    object-fit: cover; 
  }
  
  .carousel-slide p {
    width: 50%;
    
  }
  
  /* Style pour les boutons */
  .carousel-container > button {
    border: none;
    background-color: #f14e6b; 
    margin: 20px;
    color: white; 
    cursor: pointer;
    padding: 10px 15px; 
    border-radius: 50%; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); 
    opacity: 0.8; 
    transition: opacity 0.3s, transform 0.3s; 
  }
  
  .carousel-container > button:hover, 
  .carousel-container > button:focus { 
    opacity: 1; 
    transform: scale(1.1); 
  }
  
  .carousel-container > button:active { 
    transform: scale(0.9); 
  }
  




  /* Ajout un style responsive  */
  @media (max-width: 768px) {
    .user-type {
      flex-basis: 100%;
      }
    .carousel-slide {
      flex-direction: column;
    }
  
    .carousel-slide img, .carousel-slide p {
      width: 100%;
    }
  }
  

   